.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
*.lock
*-lock.json
components.d.ts
.github
#pg数据
data/
logs
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.sql
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.venv
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/*
!.idea/icon.png

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

.DS_Store
test.py


!/.venv/
.claude/*
.kiro/*
.claude/context-summary-data-predict.md
.claude/operations-log.md
.github/instructions/rules.instructions.md
*.md
backend/docs/text2sql-technical-implementation.md
.github/instructions/rules.instructions.md
backend/logs/*
backend/logs/*
backend/logs/debug.log.1
backend/logs/debug.log.5
backend/logs/info.log.1
backend/logs/debug.log.1
backend/logs/debug.log.5
backend/logs/debug.log.1
frontend/.dist-smoke/assistant.js
frontend/.dist-smoke/embed-test.html
frontend/.dist-smoke/index.html
frontend/.dist-smoke/LOGO-fold.svg
frontend/.dist-smoke/logo.png
frontend/.dist-smoke/vite-sqlbot.svg
frontend/.dist-smoke/assets/add_component-B-3OtHqi.png
frontend/.dist-smoke/assets/bg-8yPdDfgi.png
frontend/.dist-smoke/assets/Card-ZOZvo3e7.png
frontend/.dist-smoke/assets/content-CxTzekoE.png
frontend/.dist-smoke/assets/element-plus-secondary-DWu4d2rD.js
frontend/.dist-smoke/assets/icon_common_openai-COlTCK69.png
frontend/.dist-smoke/assets/icon_gemini_colorful-B1nlIkYw.png
frontend/.dist-smoke/assets/icon_hsyq_colorful-DfQVz3la.png
frontend/.dist-smoke/assets/icon_kimi_colorful-DdtOnMxu.png
frontend/.dist-smoke/assets/icon_kingbase-C2Tj6lcH.png
frontend/.dist-smoke/assets/icon_txhy_colorful-4EQzyHDS.png
frontend/.dist-smoke/assets/index-CPvDY30M.css
frontend/.dist-smoke/assets/index-DxVkZXKN.js
frontend/.dist-smoke/assets/login_image-C3eM5e3U.png
frontend/.dist-smoke/assets/login-image_blue-BPdhyJ93.png
frontend/.dist-smoke/assets/none-dashboard-1HMB_P_v.png
frontend/.dist-smoke/assets/TableList-2xTQ5Pke.js
frontend/.dist-smoke/assets/TableList-lHyAga2W.css
frontend/.dist-smoke/assets/touxiang-DtvwPoEx.png
frontend/.dist-smoke/assets/window-yMl6Mjtd.png
frontend/.dist-smoke/assets/zuo-C6Dn6ux7.png
frontend/.dist-smoke/tinymce/notices.txt
frontend/.dist-smoke/tinymce/tinymce.d.ts
frontend/.dist-smoke/tinymce/tinymce.min.js
frontend/.dist-smoke/tinymce/langs/zh_CN.js
frontend/.dist-smoke/tinymce/langs/zh_TW.js
frontend/.dist-smoke/tinymce/models/dom/model.min.js
frontend/.dist-smoke/tinymce/plugins/accordion/plugin.min.js
frontend/.dist-smoke/tinymce/plugins/anchor/plugin.min.js
frontend/.dist-smoke/tinymce/plugins/autolink/plugin.min.js
frontend/.dist-smoke/tinymce/plugins/autoresize/plugin.min.js
frontend/.dist-smoke/tinymce/plugins/link/plugin.min.js
frontend/.dist-smoke/tinymce/skins/content/dark/content.js
frontend/.dist-smoke/tinymce/skins/content/dark/content.min.css
frontend/.dist-smoke/tinymce/skins/content/default/content.js
frontend/.dist-smoke/tinymce/skins/content/default/content.min.css
frontend/.dist-smoke/tinymce/skins/content/document/content.js
frontend/.dist-smoke/tinymce/skins/content/document/content.min.css
frontend/.dist-smoke/tinymce/skins/content/tinymce-5/content.js
frontend/.dist-smoke/tinymce/skins/content/tinymce-5/content.min.css
frontend/.dist-smoke/tinymce/skins/content/tinymce-5-dark/content.js
frontend/.dist-smoke/tinymce/skins/content/tinymce-5-dark/content.min.css
frontend/.dist-smoke/tinymce/skins/content/writer/content.js
frontend/.dist-smoke/tinymce/skins/content/writer/content.min.css
frontend/.dist-smoke/tinymce/skins/ui/oxide/content.inline.js
frontend/.dist-smoke/tinymce/skins/ui/oxide/content.inline.min.css
frontend/.dist-smoke/tinymce/skins/ui/oxide/content.js
frontend/.dist-smoke/tinymce/skins/ui/oxide/content.min.css
frontend/.dist-smoke/tinymce/skins/ui/oxide/skin.js
frontend/.dist-smoke/tinymce/skins/ui/oxide/skin.min.css
frontend/.dist-smoke/tinymce/skins/ui/oxide/skin.shadowdom.js
frontend/.dist-smoke/tinymce/skins/ui/oxide/skin.shadowdom.min.css
frontend/.dist-smoke/tinymce/skins/ui/oxide-dark/content.inline.js
frontend/.dist-smoke/tinymce/skins/ui/oxide-dark/content.inline.min.css
frontend/.dist-smoke/tinymce/skins/ui/oxide-dark/content.js
frontend/.dist-smoke/tinymce/skins/ui/oxide-dark/content.min.css
frontend/.dist-smoke/tinymce/skins/ui/oxide-dark/skin.js
frontend/.dist-smoke/tinymce/skins/ui/oxide-dark/skin.min.css
frontend/.dist-smoke/tinymce/skins/ui/oxide-dark/skin.shadowdom.js
frontend/.dist-smoke/tinymce/skins/ui/oxide-dark/skin.shadowdom.min.css
frontend/.dist-smoke/tinymce/skins/ui/tinymce-5/content.inline.js
frontend/.dist-smoke/tinymce/skins/ui/tinymce-5/content.inline.min.css
frontend/.dist-smoke/tinymce/skins/ui/tinymce-5/content.js
frontend/.dist-smoke/tinymce/skins/ui/tinymce-5/content.min.css
frontend/.dist-smoke/tinymce/skins/ui/tinymce-5/skin.js
frontend/.dist-smoke/tinymce/skins/ui/tinymce-5/skin.min.css
frontend/.dist-smoke/tinymce/skins/ui/tinymce-5/skin.shadowdom.js
frontend/.dist-smoke/tinymce/skins/ui/tinymce-5/skin.shadowdom.min.css
frontend/.dist-smoke/tinymce/skins/ui/tinymce-5-dark/content.inline.js
frontend/.dist-smoke/tinymce/skins/ui/tinymce-5-dark/content.inline.min.css
frontend/.dist-smoke/tinymce/skins/ui/tinymce-5-dark/content.js
frontend/.dist-smoke/tinymce/skins/ui/tinymce-5-dark/content.min.css
frontend/.dist-smoke/tinymce/skins/ui/tinymce-5-dark/skin.js
frontend/.dist-smoke/tinymce/skins/ui/tinymce-5-dark/skin.min.css
frontend/.dist-smoke/tinymce/skins/ui/tinymce-5-dark/skin.shadowdom.js
frontend/.dist-smoke/tinymce/skins/ui/tinymce-5-dark/skin.shadowdom.min.css
frontend/.dist-smoke/tinymce/themes/silver/theme.min.js
frontend/.dist-smoke/tinymce-dataease-private/langs/zh_CN.js
frontend/.dist-smoke/tinymce-dataease-private/langs/zh_TW.js
frontend/.dist-smoke/tinymce-dataease-private/skins/content/dark/content.css
frontend/.dist-smoke/tinymce-dataease-private/skins/content/dark/content.min.css
frontend/.dist-smoke/tinymce-dataease-private/skins/content/default/content.css
frontend/.dist-smoke/tinymce-dataease-private/skins/content/default/content.min.css
frontend/.dist-smoke/tinymce-dataease-private/skins/content/document/content.css
frontend/.dist-smoke/tinymce-dataease-private/skins/content/document/content.min.css
frontend/.dist-smoke/tinymce-dataease-private/skins/content/writer/content.css
frontend/.dist-smoke/tinymce-dataease-private/skins/content/writer/content.min.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide/content.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide/content.inline.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide/content.inline.min.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide/content.min.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide/content.mobile.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide/content.mobile.min.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide/skin.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide/skin.min.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide/skin.mobile.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide/skin.mobile.min.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide/skin.shadowdom.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide/skin.shadowdom.min.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide/fonts/tinymce-mobile.woff
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide-dark/content.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide-dark/content.inline.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide-dark/content.inline.min.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide-dark/content.min.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide-dark/content.mobile.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide-dark/content.mobile.min.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide-dark/skin.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide-dark/skin.min.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide-dark/skin.mobile.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide-dark/skin.mobile.min.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide-dark/skin.shadowdom.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide-dark/skin.shadowdom.min.css
frontend/.dist-smoke/tinymce-dataease-private/skins/ui/oxide-dark/fonts/tinymce-mobile.woff
